<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80636202454-ps90cojdpsei7s66gv8p7jdej7al1fco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80636202454-ps90cojdpsei7s66gv8p7jdej7al1fco</string>
	<key>API_KEY</key>
	<string>AIzaSyBX0JMKgW5UIqCbmunVPY4d5Dd9qKeDO3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>80636202454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.aiit.a1824jj.chatfirebasesampel</string>
	<key>PROJECT_ID</key>
	<string>flutter-flash-chat-sampel</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flash-chat-sampel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80636202454:ios:152c8a68cfd5c753b5a877</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-flash-chat-sampel.firebaseio.com</string>
</dict>
</plist>